projects:
    - repo: foo-service
      slack_room: '#team-foo'
      requires_ticket: false
      topics:
        - slack-team-foo
        - copycat
        - java
    - repo: bar-service
      requires_ticket: true
