projects:
    - repo: foo-service
      slack_room: '#team-foo'
      requires_ticket: false
      topics:
        - copycat
        - java
    - repo: bar-service
      slack_room: '#none'  # Use '#none' to suppress missing slack_room warning
      requires_ticket: true
